@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap");

.main {
  padding: 0;
  background-color: #fff;
}

.hero {
  display: grid;
  grid-template-columns: repeat(
    8,
    1fr
  ); /* 8-spaltiges Grid für das gesamte Hero-Element */
  align-items: start;
  width: 100vw;
  background-color: #495e57; /* Hintergrundfarbe für die Hero-Sektion setzen */
  color: #fff; /* Textfarbe auf weiß setzen für besseren Kontrast */
  padding: 40px 0; /* Vertikales Padding für die Hero-Sektion */
  margin-left: calc(-50vw + 50%);
  position: relative; /* Stellt sicher, dass das Kind-Element relativ zum .hero positioniert wird */
}

.hero-content {
  grid-column: 1 / 5; /* Platziere den Textinhalt in den ersten 4 Spalten */
  margin-left: 50px; /* 50px Abstand auf der linken Seite */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero-title {
  color: #f4ce14;
  font-family: "Markazi Text", serif;
  font-size: 2.5rem;
  margin-bottom: -0.5rem;
}

.city-title {
  font-size: 1.8rem;
  font-family: "Markazi Text", serif;
  margin-top: -0.5rem;
}

.hero-content p {
  font-size: 1rem; /* Beispiel: Schriftgröße setzen */
  margin-top: 10px; /* Beispiel: Oberer Rand */
  color: #f4f4f4; /* Beispiel: Textfarbe */
  max-width: 100%; /* Absatz innerhalb der Spalten */
}

.reserve-button {
  background-color: #f4ce14;
  color: #495e57;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  max-width: 200px;
}

.hero-image {
  grid-column: 6 / 9; /* Platziere das Bild in den letzten 4 Spalten */
  display: flex;
  margin-top: 50px;
  margin-right: 100px;
  justify-content: center;
  align-items: center;
}

.hero-image img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Bild skalieren und zuschneiden, um den Container zu füllen */
  object-position: center; /* Bild zentrieren */
  border-radius: 10px; /* Optional: abgerundete Ecken für das Bild */
}

.section-title {
  font-size: 1.5rem;
  margin-top: 0; /* Oberer Rand entfernen */
  margin-bottom: 20px; /* Unteren Rand anpassen */
}

.highlights,
.testimonials {
  margin-left: 50px; /* 50px Abstand auf der linken Seite */
}

.about {
  margin-left: 50px;
  margin-bottom: 20px;
}

/* Begrenze die Größe des Bildes bei kleineren Bildschirmen */
@media (max-width: 850px) {
  .hero-image img {
    width: 200px; /* Setze eine feste Breite für kleinere Bildschirme */
  }
}

/* Begrenze die Größe des Bildes bei größeren Bildschirmen */
@media (min-width: 1000px) {
  .hero-image img {
    width: 300px; /* Setze eine feste Breite für größere Bildschirme */
  }
}
